body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.album-details {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}
