<h1>Create Rock Album</h1>

<form action="/albums/create" method="POST"> 
<br>
<label for="artist">Artist</label>
<br>
<input type="text" name="artist" id="artist" value="Some Artist">
<br>

<br>
<label for="title">Title</label>
<br>
<input type="text" name="title" id="title" value="Some Title">
<br>

<br>
<label for="year">Year</label>
<br>
<input type="number" name="year" id="year" value="1996">

<br>
<br>
<label for="genre">Genre</label>
<br>
<input type="text" name="genre" id="genre" value="Grunge">
<br>

<br>
<button>Sumbit Album</button>

</form>